html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "lato", sans-serif;
  background-image: url(./images/backround.avif);
  background-position: center;
  background-size: cover;
}